<!DOCTYPE html>
<html>
<title>Subreddit Recommender</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="shorcut icon" href="/static/rdt.png" />
	
<style>
	#main_contents: {margin-left:auto; margin-right:auto; text-align:center;}
	.center_btn {text-align:center}
	body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
	h1 {text-align:center;}
	h4,p {text-align:center}
	form {justify-content:center}
	button:hover {cursor: pointer; opacity: 0.9;}
	html, header, body {
		background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
		background-size: 500% 500%;
	}
</style>
	
<body class="w3-light-grey">

<div class="w3-content" style="max-width:1400px">
	
<div class="w3-col" id="main_contents">
    <h1><b>Subreddit Recommender</b></h1>
    <p><button id="gh" onclick="window.open('https://github.com/nalimuradov/Subreddit_Recommender')"><img src="static/gh.png" height="25px"></button></p>
    <h4>Enter the name of a subreddit: </h4>
    <p><em>Without the /r/ at the beginning...</em></p>
    <form action="{{ url_for('display')}}" method="post">
        <div class="center_btn">
        <input type="text" name="similar">
        <button type="submit" id="tag_btn" id="btn_predict" class="btn btn-primary">Enter</button>
            <p><b>Case-Sensitive!</b></p>
            </div>
    </form>
    <h4>Or pick one of these sample subreddits: </h4>
    <form action="{{ url_for('display')}}" method="post">
        <div class="center_btn">
        <button type="submit" id="sample1" name="similar" value="cars" class="btn btn-primary">cars</button>
        <button type="submit" id="sample2" name="similar" value="aww" class="btn btn-primary">aww</button>
        <button type="submit" id="sample3" name="similar" value="space" class="btn btn-primary">space</button>
        <button type="submit" id="sample4" name="similar" value="funny" class="btn btn-primary">funny</button>
        <button type="submit" id="sample5" name="similar" value="gaming" class="btn btn-primary">gaming</button>
        <button type="submit" id="sample6" name="similar" value="food" class="btn btn-primary">food</button>
        </div>
    </form>
</div>

</div>

</body>
</html>
